.container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.topSection {
  width: 100%;
  max-width: 70rem;
}

.mainSection {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.mainImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mainImage {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  margin-top: 6rem;
  transition: transform 0.3s;
  margin-bottom: 2rem;
}

.mockupImage {
  
  width: 100%;
  height: 30rem;
  margin: auto;
  max-width: 40rem;
  object-fit: cover;
  border-radius: 1rem;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  max-width:70rem;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.variations {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 4rem;
}

.overview {
  margin-top: 8rem;
}

.paragraph {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .mainSectionLg {
    flex-direction: row;
    align-items: center;
  }

  .textContainer {
    height: 39rem;
  }
}



